
.explanation {
  /* Add your custom styles here */
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  flex: 1;
  margin-right: 20px;
}

.container {
  background-color: rgb(177, 159, 56);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

#word-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #08f814;
}

.translation-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(94, 137, 67, 0.1);
  color: #08f814;
  margin: 0 auto;
}

.translation-container p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.translation-container .output {
  background-color: rgb(177, 159, 56);
  padding: 15px;
  color: black;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100px;
}
